input {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 10px;
}

.invalid-input input {
  background-color: #f4433650;
  border: 2px solid red;
}

.invalid-input .error {
  color: red;
}
