body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background: linear-gradient(270deg, #07d2ed, #0088ff);
  box-sizing: border-box;
}

#root {
  position: relative;
  width: 100%;
  max-width: 38rem;
  margin: 0px auto;
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 20px;
}
