body {
  background: linear-gradient(270deg, #07d2ed, #0088ff);
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 100%;
  margin: 0px auto;
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 20px;
}

h1 {
  text-align: center;
}

div {
  border-radius: inherit;
}

textarea {
  display: block;
  border: none;
  background-color: inherit;
  max-width: 95%;
  border-radius: inherit;
}

input {
  width: 70%;
  padding: 12px 7px;
  display: inline-block;
  border: none;
  border-radius: inherit;
}

button {
  padding: 12px 7px;
  border-radius: 10px;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.notes-board {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.note-item {
  display: flex;
  flex-direction: column;
  margin: 5px;
  max-width: 25%;
}

.remove-btn {
  display: block;
}

.remove-btn:hover {
  background-color: #f44336;
  color: white;
}

.add-btn {
  width: 20%;
  background-color: #0bd25b;
  color: white;
  margin: 8px 0;
}

.save-btn:hover {
  background-color: #09b94f;
}

.save-btn:disabled {
  background-color: #8ca88d;
  cursor: not-allowed;
}
