body {
  background: linear-gradient(270deg, #07d2ed, #0088ff);
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 100%;
  max-width: 38rem;
  margin: 0px auto;
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 20px;
}

h1 {
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul li {
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  padding: 12px 8px 12px 40px;
  background: #e4e3e3;
  font-size: 18px;
  margin: 4px 0;
}

ul li:hover {
  background: #ddd;
}
/* prettier-ignore */
[data-is-checked="true"] {
  background-color: #04aa6d;
  color: #fff;
}
/* prettier-ignore */
[data-is-checked="true"]:hover {
  background-color: #048052;
}

input {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 10px;
}

input:invalid {
  background-color: #f4433650;
  border: 2px solid red;
}

button {
  padding: 12px 7px 12px 7px;
  border-radius: 10px;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.remove-btn {
  position: absolute;
  right: 5px;
  top: 2px;
}

.remove-btn:hover {
  background-color: #f44336;
  color: white;
}

.edit-btn {
  position: absolute;
  right: 35px;
  top: 2px;
}

.edit-btn:hover {
  background-color: #3662f4;
  color: white;
}

.save-btn {
  width: 20%;
  background-color: #0bd25b;
  color: white;
  margin: 8px 0;
}

.save-btn:hover {
  background-color: #09b94f;
}

.save-btn:disabled {
  background-color: #8ca88d;
  cursor: not-allowed;
}
